
<p>Add a Restaurant here !!!</p>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong>Data has been Saved Successfully.
    <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


<form [formGroup]="addResto" (ngSubmit)="collectRestoDetails()">
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control"  placeholder="Enter Name" formControlName="name">
</div>
<div class="form-group">
    <label >email</label>
    <input type="email" class="form-control"  placeholder="Enter email" formControlName="email">
</div>
<div class="form-group">
    <label >Adress</label>
    <input type="text" class="form-control"  placeholder="Enter Adress" formControlName="Adress">
</div>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
